[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
[Bb]uild/
[Bb]uilds/
_Build/
MemoryCaptures/
output/
docs/
tmp/
node_modules/
tools/

# IDE
.vscode/
.idea/
.cursor/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.tmp

# OS
.DS_Store
Thumbs.db

# Local temporary native links
jzmq.dll
libzmq-mt-4_3_6.dll
